In [3]:
import numpy as np
import matplotlib.pyplot as plt
import sympy as sym

In [17]:
#A
def temp (x,y):
  for i in range (4):
    a = np.matrix([[1,1],[-1,1]], [[-1,-1],[1,-1]])
    n = [x,y]* a
  T = np.sum(n)
  return T

In [18]:
#B 
p = [[1,1],[-1,1],[-1,-1],[1,-1]] #De una vez se remplazan los valores

In [19]:
#C
Ti = [[1],[2],[0.5],[0.3]] #De una vez se remplazan los valores 
b = ([1, 1, 1, (1*1)], [1,-1,1,(1*-1)], [1,-1,-1, (-1*-1)], [1,1,-1,(1*-1)])
n = np.linalg.solve(b,Ti)

In [23]:
#D
T_1 = temp(p[0][0],p[0][1])
T_2 = temp(p[1][0],p[1][1])
T_3 = temp(p[2][0],p[2][1])
T_4 = temp(p[3][0],p[3][1])

In [ ]:
#E
x= np.linspace(-1,1)
y= np.linspace(-1,1)
gra= plt.temp(x,y)
plt.show()

In [ ]:
#F
temp(0,0.5)

In [ ]:
#G
def g(x,y,theta=np.pi/2):
    rotor = np.array([[np.cos(theta),-np.sin(theta)],\
                      [np.sin(theta),np.cos(theta)]])
    punto = np.array([x,y])
    return np.dot(rotor,punto)

P1 = g(p[0][0],p[0][1])
P2 = g(p[1][0],p[1][1])
P3 = g(p[2][0],p[2][1])
P4 = g(p[3][0],p[3][1])
P5 = g(0,0.5)
(P1,P2,P3,P4,P5)

In [ ]:
#H
def interpolacion(P):
    p1,p2,p3,p4 = P
    coeff = np.array([[1,p1[0],p1[1],p1[0]*p1[1]],\
                      [1,p2[0],p2[1],p2[0]*p2[1]],\
                      [1,p3[0],p3[1],p3[0]*p3[1]],\
                      [1,p4[0],p4[1],p4[0]*p4[1]]])
    Sol = np.array([1,2,0.5,0.3])
    x = np.linalg.solve(coeff, Sol)
    return x
interpolacion((P1,P2,P3,P4))

In [ ]:
#I
T1 = temp(P1[0],P1[1])
T2 = temp(P2[0],P2[1])
T3 = temp(P3[0],P3[1])
T3 = temp(P4[0],P4[1])
T_point = T(P5[0],P5[1])

(T1,T2,T3,T4,T_point)